<div class="section evt-form">
  <%= simple_form_for @user do |f| %>
    <%= f.input :email, input_html: { class: 'form-control'}, label_html: { class: 'label label_b'}  %>
    <%= f.input :role, input_html: { class: 'form-control'}, label_html: { class: 'select label_b'}%>
    <%= f.button :submit, class: "btn btn-primary btn-criar"%>
  <% end %>
</div>
