<h4 class="text-center admin-welcome">Olá, <%= current_user.name %>!</h4>

<!-- <h5 class="text-center">Eventos</h5>
<h5 class="text-center">Formulários</h5>
<h5 class="text-center">Usuários</h5> -->
