<h1 class="h1-evt">Usuários</h1>
<br>
<container>
<!-- Tabela de eventos -->
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Email</th>
      <th>Privilégio</th>
      <th>Criado em</th>
      <th>Atualizado em</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= l user.created_at, format: :short %></td>
        <td><%= l user.updated_at, format: :short %></td>
        <th> <a href="#">Editar</a> </th>
        <th> <a href="#">Apagar</a> </th>
      </tr>
    <% end %>
  </tbody>
</table>
</container>
