<div class="mt-5 pt-5 pb-0 footer">
<div class="container">
  <div class="row">

    <div class="col-lg-5 col-xs-12 about-company pl-5">
      <h4 class="footer-txt mt-lg-0 mt-sm-3">Sobre</h4>
      <p class="txt-sobre pr-5 text-justify text-white-50 spn-body m-0 p-0">O Centro Comunitário Nossa Senhora Medianeira pertence à Paróquia Nossa Senhora das Dores
        (Otávio Bonfim) onde crianças, adolescentes, jovens e mulheres que moram nas comunidades carentes da Paróquia
        e bairros adjacentes participam ativamente. </p>
    </div>

    <div class="col-lg-3 col-xs-12 links pl-5">
      <h4 class="footer-txt mt-lg-0 mt-sm-3">Links rápidos</h4>
        <ul class="m-0 p-0 pr-5">
          <li><a class="spn-body" href="#">Sobre Nós</a></li>
          <li><a class="spn-body" href="#">Atividades</a></li>
          <li><a class="spn-body" href="#">Aulas</a></li>
          <li><a class="spn-body" href="#">Eventos</a></li>
        </ul>
    </div>

    <div class="col-lg-4 col-xs-12 location pl-5">
      <h4 class="footer-txt mt-lg-0 mt-sm-4">Informações para contato</h4>
      <p class="spn-body-end pr-5">Rua Clarindo de Queiroz, 2018, Farias Brito <br>
      CEP: 60035-130 - Fortaleza, CE</p>
      <p class="mb-0 spn-body"><i class="fa fa-phone mr-3 i-footer"></i>(541) 754-3010</p>
      <p class="spn-body"><i class="fa fa-envelope-o mr-3 i-footer"></i>ccnmedianeiras@gmail.com</p>
    </div>

  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2019. Todos os direitos reservados.</small></p>
    </div>
  </div>
</div>
</div>
