<script src="https://kit.fontawesome.com/8d9d868ad3.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= render 'menu_p' %>

<!-- <h1 class="h1-txt">Aulas</h1> -->
<h3 class="title-txt text-center">Esportes</h3>
<br>

<!-- Balé -->
<div class="container-fluid sec-esporte">
  <div class="row no-gutters align-items-center">
    <div class="col-md-4">
      <img src="/assets/bale_1.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title tit-esporte">Balé</h2><hr>
        <p class="card-text text-justify">As aulas de Balé proporcionam às crianças e adolescentes o fortalecimento da musculatura das pernas,
        a postura do corpo, a coordenação motora, a disciplina da mente e corpo e sobretudo noções de localização
        e orientação de espaço.</p>
        <ul class="row list-group list-group-flush">
          <li class="list-group-item"><i class="fas fa-chalkboard-teacher c-icon"></i> Professora Patrícia Fernandes |
          <i class="far fa-calendar-alt c-icon"></i> Sábado, das 9 às 11 horas</li>
          <li class="list-group-item"><i class="fas fa-map-marker-alt c-icon"></i> Centro Comunitário Nossa Senhora Medianeira</li>
          <li class="list-group-item"><a href="#" class="btn btn-primary badge-pill btn-inscricao">Inscrições</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Fim do Balé -->

<!-- Karatê -->
<div class="container-fluid sec-esporte mt-2">
  <div class="row no-gutters align-items-center">
    <div class="col-md-4">
      <img src="/assets/karate_1.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title tit-esporte">Karatê</h2><hr>
        <p class="card-text text-justify">O Karatê proporciona grande condicionamento cardiovascular, muscular e desenvolve a coordenação motora.
          A arte marcial exige exercício mental em que o lutador passa a criar estratégias e aprende a controlar
          as suas emoções. Faixa etária: de 7 a 14 anos.</p>
        <ul class="row list-group list-group-flush">
          <li class="list-group-item"><i class="fas fa-chalkboard-teacher c-icon"></i> Professores Neto e Juscelino |
          <i class="far fa-calendar-alt c-icon"></i> Quartas e Sextas</li>
          <li class="list-group-item"><i class="fas fa-map-marker-alt c-icon"></i> Centro Comunitário Nossa Senhora Medianeira</li>
          <li class="list-group-item"><a href="#" class="btn btn-primary badge-pill btn-inscricao">Inscrições</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Fim do Karatê -->

<!-- Muay Thay -->
<div class="container-fluid sec-esporte mt-2">
  <div class="row no-gutters align-items-center">
    <div class="col-md-4">
      <img src="/assets/mthay_1.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title tit-esporte">Muay Thay</h2><hr>
        <p class="card-text text-justify">As aulas trazem benefícios para os jovens e adultos.
        Desenvolve habilidades de autodefesa, ensina a conviver com os outros, melhora a coordenação motora, o raciocínio,
        o equilíbrio mental, torna ágil e ensina, sobretudo, a disciplina.</p>
        <ul class="row list-group list-group-flush">
          <li class="list-group-item"><i class="fas fa-chalkboard-teacher c-icon"></i> Professor Brayner CB |
          <i class="far fa-calendar-alt c-icon"></i> Quartas, Quintas e Sextas</li>
          <li class="list-group-item"><i class="fas fa-map-marker-alt c-icon"></i> Centro Comunitário Nossa Senhora Medianeira</li>
          <li class="list-group-item"><a href="#" class="btn btn-primary badge-pill btn-inscricao">Inscrições</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Fim do Muay Thay -->

<%= render 'footer' %>
