<script src="https://kit.fontawesome.com/8d9d868ad3.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= render 'menu_p' %>

<h1 class="h1-txt">Aulas</h1>
<div class="container-fluid">
<div class="card-deck">

<!-- Karatê -->
  <div class="card">
    <img src="/assets/karate_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title text-center">Karatê</h4>
      <p class="card-text text-justify">O Karatê proporciona grande condicionamento cardiovascular e muscular, desenvolve a coordenação motora e a
        mobilidade das articulações. A arte marcial exige exercício mental em que o lutador passa a criar estratégias e aprende a controlar
        as suas emoções. Faixa etária: de 7 a 14 anos.</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fas fa-chalkboard-teacher c-icon"></i> Professores Neto e Juscelino </li>
        <li class="list-group-item"><i class="far fa-calendar-alt c-icon"></i> Quartas e Sextas</li>
        <li class="list-group-item"><i class="fas fa-map-marker-alt c-icon"></i> Centro Comunitário Nossa Senhora Medianeira</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary d-flex justify-content-center rounded-pill">Inscrições</a>
      </div>
    </div>
  </div>
<!-- Fim do Karatê -->

<!-- Balé -->
<div class="card">
  <img src="/assets/bale_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title text-center">Balé</h4>
    <p class="card-text text-justify">As aulas de Balé proporcionam às crianças e adolescentes o fortalecimento da musculatura das pernas, a postura do
      corpo, a coordenação motora, a disciplina da mente e corpo e sobretudo noções de localização e orientação de espaço.</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="fas fa-chalkboard-teacher c-icon"></i> Professora Patrícia Fernandes</li>
      <li class="list-group-item"><i class="far fa-calendar-alt c-icon"></i> Sábado, das 9 às 11 horas</li>
      <li class="list-group-item"><i class="fas fa-map-marker-alt c-icon"></i> Centro Comunitário Nossa Senhora Medianeira</li>
    </ul>
    <div class="card-body">
      <a href="#" class="btn btn-primary d-flex justify-content-center rounded-pill">Inscrições</a>
    </div>
  </div>
</div>
<!-- Fim do balé -->

<!-- Muay Thay -->
  <div class="card">
    <img src="/assets/mthay_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title text-center">Muay Thay</h4>
      <p class="card-text text-justify">As aulas trazem benefícios para os jovens e adultos, desenvolvimento o físico, psíquico e social de forma integral.
      Desenvolve habilidades de autodefesa, ensina a conviver com os outros, melhor a coordenação motora, desenvolve o raciocínio, o equilíbrio
      mental, torna ágil e ensina, sobretudo, a disciplina.</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fas fa-chalkboard-teacher c-icon"></i> Professor Brayner CB</li>
        <li class="list-group-item"><i class="far fa-calendar-alt c-icon"></i> Quartas, Quintas e Sextas</li>
        <li class="list-group-item"><i class="fas fa-map-marker-alt c-icon"></i> Centro Comunitário Nossa Senhora Medianeira</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary d-flex justify-content-center rounded-pill">Inscrições</a>
      </div>
    </div>
  </div>
<!-- Fim do Muay Thay -->
</div>
</div>
<br>
            <h4 class="card-title">Bazar Solidário</h4>
            <p class="card-text">O bazar solidário é o recolhimento de doações (roupas, sapatos, bijuterias, etc.). No primeiro momento
            do bazar as mulheres se encontram toda <b>quarta feira</b> e fazem a seleção de tudo que chega durante a semana;
            no <b>sábado</b> acontecem as vendas. As arrecadações são direcionadas para projetos sociais do Centro Comunitário.</p>
            <a href="#" class="btn btn-primary">Colaborar</a>
