<script src="https://kit.fontawesome.com/8d9d868ad3.js" crossorigin="anonymous"></script>


<!-- Menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="navbar-brand logotipo" src="/assets/ui.png" />
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active nav-texto">
        <a class="nav-link" href="#">Início <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item nav-texto">
        <a class="nav-link" href="#">Sobre nós</a>
      </li>
      <li class="nav-item nav-texto">
        <a class="nav-link" href="#">Cursos</a>
      </li>
      <li class="nav-item nav-texto">
        <a class="nav-link" href="#">Eventos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
      </li>
    </ul>
  </div>
</nav>
<!-- End of Menu -->

<h1>Aulas</h1>

<!-- Balé -->
<div class="bale">
<div class="mb-2" style="max-width: 1400px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/assets/bale_1.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Balé</h2>
        <p class="card-text">As aulas de Balé proporcionam às crianças e adolescentes o fortalecimento da musculatura das pernas,
        a postura do corpo, a coordenação motora, a disciplina da mente e corpo e sobretudo noções de localização
        e orientação de espaço.</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fas fa-chalkboard-teacher c-icon"></i> Professora Patrícia</li>
          <li class="list-group-item"><i class="far fa-calendar-alt c-icon"></i> Sábado, das 9 às 11 horas</li>
          <li class="list-group-item"><i class="fas fa-map-marker-alt c-icon"></i> Centro Comunitário Nossa Senhora Medianeira</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary">Inscrições</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Fim do Balé -->

<!-- Karatê -->
<div class="bale">
<div class="mb-2" style="max-width: 1400px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/assets/karate_1.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Karatê</h2>
        <p class="card-text">Achar descrição do Karatê</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fas fa-chalkboard-teacher c-icon"></i> Professor ?</li>
          <li class="list-group-item"><i class="far fa-calendar-alt c-icon"></i> 3 dias da semana</li>
          <li class="list-group-item"><i class="fas fa-map-marker-alt c-icon"></i> Centro Comunitário Nossa Senhora Medianeira</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary">Inscrições</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Fim do Karatê -->
<div class="card-group">
  <div class="card">
    <img src="/assets/karate_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/assets/bale_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">As aulas de Balé proporcionam às crianças e adolescentes o fortalecimento da musculatura das pernas, a postura do corpo, a coordenação motora, a disciplina da mente e corpo e sobretudo noções de localização e orientação de espaço.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/assets/mthay_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img src="..." class="card-img-top" alt="...">
</div>
As aulas trazem benefícios para os jovens e adultos, desenvolvimento o físico, psíquico e social de forma integral.
Desenvolve habilidades de autodefesa, ensina a conviver com os outros, melhor a coordenação motora, desenvolve o raciocínio, o equilíbrio
mental, torna ágil e ensina, sobretudo, a disciplina.
