<%= render 'menu_p' %>

<div class="container">
<h4 class="title-txt text-center text-justify">5 anos da presença das Irmãs do Preciosíssimo Sangue</h4>
<p class="text-justify text-center"><b>Em agosto de 2019, completamos 5 anos da existência do Centro Comunitário Nossa Senhora Medianeira.</b></p>

<p class="text-justify">
Apesar das dificuldades, temos muitos momentos de alegria, e é a estes momentos que somos gratas. É muito bom saber que podemos
contar com nossos voluntários e com as pessoas que colaboraram de alguma maneira ao Centro. São pessoas que se doam, e nós,
como religiosas, apreciamos esse contato com leigos e ver o amor com que fazem esse trabalho. O Frei Edson, nosso pároco,
também sempre nos auxiliou e continua nos apoiando em tudo que é decidido para o bem do próximo.<br>
</p>

<p class="text-justify">
Essa realidade muito precisa de nossa ajuda, e vemos o quanto é desafiante. Para nós, apesar de tudo que acontece, vemos
que as alegrias são maiores. Ver o crescimento de cada mãe, cada criança que participa de alguma forma, para nós, é
muito gratificante, não tem preço. Somos felizes porque podemos servir àquelas pessoas que precisam de nós,
e é uma alegria estar à disposição delas. Somos muito gratas por participar dessa comunidade,
que completa apenas 5 anos, mas que já fez um belo trabalho em Fortaleza, na Paróquia Nossa Senhora das Dores.
</p>
</div>
<br>

<div class="container d-flex">
  <div class="row no-gutters">
    <div class="col-sm-4">
      <img src="/assets/ips_1.jpg" class="img-fluid about-img" alt="...">
      <img src="/assets/ips_2.jpg" class="img-fluid about-img" alt="...">
    </div>
    <div class="col-sm-4">
      <img src="/assets/ips_6.jpg" class="img-fluid" alt="...">
      <img src="/assets/ips_7.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-sm-4">
      <img src="/assets/ips_8.jpg" class="img-fluid" alt="...">
      <img src="/assets/ips_11.jpg" class="img-fluid" alt="...">
    </div>
  </div>
</div>


<h4 class="title-txt text-center">Vídeo</h4>

<%= render 'footer' %>
