<title>Centro Comunitário Nossa Senhora Medianeira</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap JQuery & Popper scripts -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/8d9d868ad3.js" crossorigin="anonymous"></script> -->
<!-- End of Scripts -->

<%= render 'menu_p' %>

<!-- Carousel -->
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images2.alphacoders.com/935/thumb-1920-935998.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>A PERFEIÇÃO DIANTE DOS SEUS OLHOS</h5>
          <p>Tudo com um tema já feito, a gente só fez copiar e colar</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/originals/11/1a/03/111a03133d14214539c96e0f657dff1a.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.wallpaperscraft.com/image/pair_sunset_landscape_143721_1920x1080.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</div>
<!-- End of Carousel -->

  <div class="container">
   <div class="row">
     <div class="col">
       <h3 class="title-txt text-center">Bem-vindo!</h3>
       <p class="text-justify">O Centro Comunitário Nossa Senhora Medianeira é uma porta aberta para <b>acolher, receber, facilitar o encontro e a partilha na contínua
         troca de bens e vivências </b>que é a relação humana, todos com o mesmo objetivo em comum, que é a esperança de um futuro melhor através
         da caridade. Contamos com um corpo de colaboradores profissionais e voluntários que procuram dar resposta à diversidade
         de situações dos que o procuram. <b>Qualquer tipo de ajuda é importante para nós.</b><br></p>
      </div>
    </div>
    <div class="row text-center justify-content-center align-items-center row-test">
     <div class="col md-4">
       <p class="text-justify">
         O site que inauguramos pretende dar a oportunidade de todos conhecerem as nossas atividades, serviços e cursos, a
         qualidade e esforço do nosso trabalho e principalmente, mobilizar colaboradores e apoiantes.
         Para cumprir a nossa missão, precisamos da colaboração dos nossos voluntários e ajuda dos nossos parceiros.
         A nossa porta está aberta para todos. É através dela que esperemos aumentar o espaço de convívio
         e a prática de uma proximidade solidária ativa, eficiente e voluntária.
       </p>
     </div>
    </div>

     <div class="row text-center justify-content-center align-items-center">
       <div class="col-md-8 embed-responsive embed-responsive-16by9 d-flex">
         <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XMBO9gtPaZE" frameborder="0"
         allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
     </div>
  </div>

<h4 class="title-txt text-center">Próximos eventos</h4>
<p class="text-center"><b>Bazar Beneficente</b><br>
13 de outubro, às 13h - Centro Comunitário Nossa Senhora Medianeira</p>


<%= render 'footer' %>
