<%= render 'menu_p' %>
<h4 class="title-txt text-center">Promulher</h4>
<img src="/assets/logo_fametro.png">


<p> O PROMULHER – Promovendo a Cidadania da Mulher é uma iniciativa da Coordenação do Curso de Graduação em Serviço Social e visa promover o
aprimoramento da formação profissional dos estudantes através de uma experiência de intervenção no âmbito da formação política e cidadã junto a grupos de mulheres -
adolescentes, jovens e idosas em situação de vulnerabilidade social.Essa parceria do Centro Comunitário com a faculdade pretende
intensificar a função social da IES junto às comunidades do entorno.
O projeto é coordenado pelas professoras Ângela Madeiro e Edna Leite e tem como monitores os discentes Rafaella Helen Alves,
Pedro Lucas Nunes, Mariano do Carmo e Ana Elisabeth da Silva.
Esse projeto é iniciativa do Núcleo Docente Estruturante (NDE) e da coordenação do curso de Serviço Social da Unifametro e
visa promover o aprimoramento da formação profissional dos estudantes através de uma experiência de intervenção no âmbito da
formação política e cidadã junto a grupos de mulheres – adolescentes, jovens e idosas em situação de vulnerabilidade social.</p>
