<%= render 'menu_p' %>
<br>

<div class="container c-sobre">
  <div class="row no-gutter c-sobre">
    <div class="col-6 justify-content-center c-sobre">
      <img src="/assets/voluntariado.jpg" class="img-fluid">
      <div class="card-img-overlay d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-outline-light btn-sobre btn-lg btn-block">Voluntariado</button>
      </div>
    </div>

    <div class="col-6 justify-content-center c-sobre">
      <img src="/assets/atividades.jpg" class="img-fluid">
      <div class="card-img-overlay d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-outline-light btn-sobre btn-lg btn-block">Afiliar-se</button>
      </div>
    </div>
  </div>
</div>
