<%= render 'menu_p' %>
<br>
<div class="container c-sobre">
  <div class="row no-gutter c-sobre">
    <div class="col-6 justify-content-center c-sobre">
      <%= image_tag("voluntariado.jpg", :class => "img-fluid", alt:"Voluntariado")%>
      <div class="card-img-overlay d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-outline-light btn-sobre btn-lg btn-block">Voluntariado</button>
      </div>
    </div>

    <div class="col-6 justify-content-center c-sobre">
      <%= image_tag("atividades.jpg", :class => "img-fluid", alt:"Atividades")%>
      <div class="card-img-overlay d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-outline-light btn-sobre btn-lg btn-block">Afiliar-se</button>
      </div>
    </div>
  </div>

  <h3 class="title-txt text-center">História</h3>
  <p class="text-justify">O Centro Comunitário Nossa Senhora Medianeira pertence à Paróquia Nossa Senhora das Dores (Otávio Bonfim)
  onde crianças, adolescentes, jovens e mulheres que moram nas comunidades carentes da Paróquia e bairros vizinhos participam
  intensamente durante a semana. </p>
  <p class="text-justify"><b>Todo o trabalho desenvolvido nesta Entidade é voluntariado.</b>
  Contamos atualmente com 21 voluntários, sendo 11 professores e 2 assistentes.
  Irmã Maria Freire e Irmã Josmárcia (Irmãs do Preciosissímo Sangue) são as responsáveis pelo auxílio nas atividades e projetos.
  As 02 irmãs também dão cursos de culinária e atividades lúdicas com as crianças e adolescentes.
  Também ajudam na Paróquia nas Diversas Pastorais na Dimensão Social, Dimensão da
  Catequese (Crisma, Eucaristia, Batismo, Pastoral Familiar e ECC), com os
  Idosos da Paróquia e na coordenação da comunidade Santa Rita, que faz
  parte do espaço geográfico do Centro Comunitário.
  </p>

  <h4 class="title-txt text-center">Missão</h4>
  <p>Atender os moradores dos bairros Farias Brito, Otávio Bonfim e adjacências
    com projetos comunitários para crianças, jovens e adultos, executados dentro do próprio centro, contribuindo
    com a comunidade das mediações trazendo atividades sociais, espirituais e culturais.</p>

  <h4 class="title-txt text-center">Vídeo</h4>
  <div class="d-flex justify-content-center">
  <iframe width="720" height="340" src="https://www.youtube.com/embed/XMBO9gtPaZE" frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<%= render 'footer' %>
