<%= render 'menu_p' %>
<br>
<div class="container c-sobre">
  <div class="row no-gutter c-sobre">
    <div class="col-sm-6 col-md-6 col-lg-6 justify-content-center c-sobre mb-2">
      <%= image_tag("sobre_1.jpg", :class => "img-fluid img-sobre", alt:"Voluntariado")%>
      <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <button type="button" class="btn btn-outline-light btn-sobre btn-lg btn-block">
            <a href="https://m.me/ccnmedianeira" target="_blank">Voluntariado</a>
          </button>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 justify-content-center c-sobre">
      <%= image_tag("sobre_2.jpg", :class => "img-fluid img-sobre", alt:"Parceria")%>
      <div class="card-img-overlay d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-outline-light btn-sobre btn-lg btn-block">
          <a href="https://m.me/ccnmedianeira" target="_blank">Afiliar-se</a></button>
      </div>
    </div>
  </div>

  <h3 class="title-txt text-center">História</h3>
  <p class="text-justify">O Centro Comunitário Nossa Senhora Medianeira pertence à Paróquia Nossa Senhora das Dores (Otávio Bonfim)
  onde crianças, adolescentes, jovens e mulheres que moram nas comunidades carentes da Paróquia e bairros vizinhos participam
  intensamente durante a semana. </p>
  <p class="text-justify mb-6"><b>Todo o trabalho desenvolvido nesta Entidade é voluntariado.</b>
  Contamos atualmente com 21 voluntários, sendo 11 professores, 2 assistentes e mais 8 voluntários no bazar.
  Irmã Maria Freire e Irmã Josmárcia (Irmãs do Preciosissímo Sangue) são as responsáveis pelo auxílio nas atividades e projetos,
  sendo ajudadas pela Irmã Niêde, que chegou em dezembro de 2018 para completar a comunidade.
  As irmãs também dão cursos de culinária e atividades lúdicas com as crianças e adolescentes.
  Também ajudam na Paróquia nas Diversas Pastorais na Dimensão Social, Dimensão da
  Catequese (Crisma, Eucaristia, Batismo, Pastoral Familiar e ECC), com os
  Idosos da Paróquia e na coordenação da comunidade Santa Rita, que faz
  parte do espaço geográfico do Centro Comunitário.
  </p>

<div class="missao mb-5">
  <h4 class="title-txt text-center">Missão</h4>
  <p class="text-justify">Atender os moradores dos bairros Farias Brito, Otávio Bonfim e adjacências
    com projetos comunitários para crianças, jovens e adultos, realizados dentro do próprio centro, contribuindo
    com a comunidade das mediações trazendo atividades sociais, espirituais e culturais.
    Temos como missão fundamentalmente o combate à pobreza e à exclusão em todas as suas formas, numa ação e
    visão que tem por base a Fé católica e a Caridade cristã, com empenho de todos os envolvidos em uma ação caritativa.</p>
</div>

<div class="visao mb-5">
  <h4 class="title-txt text-center">Visão</h4>
  <p>O Centro Comunitário Nossa Senhora Medianeira visa respeitar e reconhecer em cada pessoa e família dons e talentos únicos
    e especiais, característica fundamental do valor de cada vida humana.
    As atividades promovidas pelo Centro visam promover o bem estar e a melhoria da qualidade de vida de crianças,
    adolescentes e famílias que vivem em estado de vulnerabilidade social. Através de atividades lúdicas, recreativas,
    culturais, esportivas, cooperativas, solidárias, pedagógicas e dinâmicas, procura-se trabalhar valores, respeito e
    disciplina, com o objetivo de desenvolver o protagonismo e a autonomia.</p>
</div>

<h4 class="title-txt text-center">Documentário sobre o Centro</h4>
<div class="row text-center justify-content-center align-items-center">
  <div class="col-md-8 embed-responsive embed-responsive-16by9 d-flex">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XMBO9gtPaZE" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
</div>
<%= render 'footer' %>

<script>
  $(".btn-sobre").hover(function() {
    $(this).find("a").toggleClass("btn-overlay");
  });
</script>
