// Place all the styles related to the admin/eventos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #3d3d3d;
}

.card {
}

.h1-evt {
  text-align: center;
  margin-top: 25px;
  color: #585858;
}

.evt-form {
  margin: 0 50px;

}

.form-control {
  margin: 8px 0;
}

.teste {
  width: 100px;
}
