// Place all the styles related to the admin/eventos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.label_b {
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #3d3d3d;
}

.card {
}

.h1-evt {
  text-align: center;
  margin-top: 25px;
  color: #585858;
}

.evt-form {
  margin: 0 50px;
}

.form-control {
  margin: 4px 0 20px 0;
}

.data-input {
  margin: 4px 0 4px 0;
}

.teste {
  width: 100px;
}

.hora_label {
  margin-top: 10px;
}

.tsts {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #2980b9;
  font-weight: 700 !important;
  // color: #707070;
  // font-weight: bold !important;
}
