<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://unpkg.com/multiple-select@1.4.3/dist/multiple-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://unpkg.com/multiple-select@1.4.3/dist/multiple-select.min.js"></script>

<div class="section evt-form">
  <%= simple_form_for @pessoa do |f| %>
    <%= render 'shared/pessoa_form', f: f%>
  <% end %>
</div>
<br>

<!-- Script para habilitar campos "Escola" e "Série" apenas se o usuário selecionar a opção "Sim" em Estuda? -->
<script>
  $(function() {
    $('#boolean').change(function(){
        if ($(this).val () == 'true') {
            $('.hidden-fields').show();
        } else {
            $('.hidden-fields').hide();
        }
    });
})
</script>

<!-- Script para habilitar o multiselect no campo "Atividades" -->
<script>
  $(function() {
    $('#multiselect').multipleSelect({
    selectAll: false
  })
  })
</script>
