<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://unpkg.com/multiple-select@1.4.3/dist/multiple-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://unpkg.com/multiple-select@1.4.3/dist/multiple-select.min.js"></script>

<!-- Select2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.js" integrity="sha256-7QI04ySSWOSntO1zRz4OathEWRGoHz5kLVy+wHkB+UE=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.css" integrity="sha256-kalgQ55Pfy9YBkT+4yYYd5N8Iobe+iWeBuzP7LjVO0o=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css" integrity="sha256-Ju6812ufi1PkAvKVu7myA4uw5aYWyZoeL5GHNCn0AMk=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/i18n/pt-BR.js" integrity="sha256-/pqU7mByO80szYr1JmBQCoGGTtAgj2viXKUnyEK7I5k=" crossorigin="anonymous"></script>

<div class="section evt-form">
  <%= simple_form_for @pessoa do |f| %>
    <%= render 'shared/pessoa_form', f: f%>
  <% end %>
</div>
<br>

<!-- Script para habilitar campos "Escola" e "Série" apenas se o usuário selecionar a opção "Sim" em Estuda? -->
<script>
  $(function() {
    $('#boolean').change(function(){
        if ($(this).val () == 'true') {
            $('.hidden-fields').show();
        } else {
            $('.hidden-fields').hide();
        }
    });
})
</script>

<!-- Script para habilitar o multiselect no campo "Atividades" -->
<script>
  $(function() {
    $('#multiselect').multipleSelect({
    selectAll: false
  })
  })
</script>
