// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');


.select2-search__field {
  height: calc(1.6em + 0.75rem + 2px) !important;
}
.devise-txt {
  margin-top: 40px;
}

.admin-txt-top {
  margin: 28px 0 20px 0;
}

.admin-txt {
  color: #696969;
  font-family: 'Source Sans Pro', sans-serif;
}

.admin-welcome {
  color: #05afea;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.admin-txt, .admin-welcome {
  font-size: 32px;
}

.btn-tabela {
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
  justify-content: center !important;
}

.card-text-tit {
  font-family: 'Maven Pro', sans-serif;
  color: #484848;
  font-size: 25px;
  font-weight: 700;
  // text-transform: uppercase;
  // letter-spacing: 0.5px;
}

.card-bigger {
  font-size: 19px !important;
}

.admin-title {
  text-transform: uppercase;
  color: #05afea;
  letter-spacing: 0.5px;
  font-size: 24px;
  font-weight: 600 !important;
}

@media (max-width: 963px) {

}
