.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.c-icon {
  color: #05afea;
  margin-right: 5px;
}

.list-group-item {
  font-weight: 400;
}

.card-title {
  color: #353b48;
}

.card-text {
  font-size: 17px;
}

.h1-txt {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #3d3d3d;
}

.promulher-txt {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #DF5286;
}

.promulher-txt-about {
  font-size: 0.7rem;
}

.promulher-card, .card-general {
  border: none !important;
}

.edna, .angela {
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
}

.logo-unifametro {
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .3s ease-in-out;
}

.logo-unifametro:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  cursor: pointer;
}

// ícones dos projetos da igreja
.others-icon {
  font-size: 40px;
  color: #05afea;
}

.hr-praticas {
  margin: 30px 0 !important;
}

.title-bazar {
  margin-top: 10px !important;
}

.txt-bazar {
  margin: 25px 0 !important;
}

.sec-atividades {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.tit-esporte, .tit-sec {
  font-weight: 600;
}

.ativ-hr {
  margin: 12px 0;
}

@media (max-width: 767px) {
  .tit-esporte {
    text-align: center;
  }

  .btn-inscricao {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
