.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.c-icon {
  color: #05afea;
  margin-right: 5px;
}

.card-text {
  // color: #3d3d3d;
}

.list-group-item {
  font-weight: 400;
}

.card-title {
  color: #353b48;
  /*old: #3d3d3d*/
}

.card-text {
  font-size: 17px;
}

.bale {
  font-family: 'Open Sans', sans-serif;
  color: #353b48;
}

.h1-txt {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #3d3d3d;
}

.promulher-txt {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: #DF5286;
}

.promulher-txt-about {
  font-size: 0.7rem;
  font-family: 'Open Sans', sans-serif;
}

.promulher-card, .card-general {
  border: none !important;
}

.edna, .angela {
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  // text-align: center !important;
}

.logo-unifametro {
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .3s ease-in-out;
}

.logo-unifametro:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  cursor: pointer;
}

.others-icon {
  font-size: 40px;
  color: #05afea;
}

.hr-praticas {
  margin: 30px 0 !important;
}

.title-bazar {
  margin-top: 10px !important;
}

.txt-bazar {
  margin: 25px 0 !important;
}

.act-title {
  text-transform: uppercase;
  // color: #05afea;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 600;
}

.sec-esporte {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.btn-inscricao {
  padding: 0.375rem 6rem !important;
  background-color: #05afea;
  border: 1px solid #05afea;
  transition: 0.2s;
}

.btn-inscricao:hover {
  background-color: #049ACC;
  border: 1px solid #049ACC;
}

.tit-esporte, .tit-sec {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.ativ-hr {
  margin: 12px 0;
}

@media (max-width: 767px) {
  .tit-esporte {
    text-align: center;
  }

  .btn-inscricao {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
