@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600&display=swap');


.carousel-indicators li {
  width: 1.2vw !important;
  height: 1.2vw !important;
  border-radius: 100% !important;
  margin-right: 1.5vw !important;
}

.nav-texto {
  margin-right: 35px;
  color: #9d9d9d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1.2px;
  margin-top: 4px;
  font-family: 'Raleway', sans-serif;
}

.logotipo {
  margin-left: 30px;
  padding: 0px !important;
}

.fa-facebook {
  font-size: 27px;
  color: #05afea;
  transition: 0.5s;
}

.fa-facebook:hover {
  color: #2980b9;
}

.navbar-nav {
  margin-left: 14%;
}

.navbar-toggler {
  border: none !important;
}

.btn-main {
  width: 200px;
  font-weight: 700 !important;
}

@media (max-width: 991px) {

  .logotipo {
    position: relative;
    left: 45%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
  }

  .navbar-collapse {
    align-content: center;
    text-align: center;
  }

  .btn-main {
    margin-top: 5px;
  }

  .fa-facebook {
    margin-right: 32px;
  }

  
}
