.carousel-indicators li {
  width: 1.2vw !important;
  height: 1.2vw !important;
  border-radius: 100% !important;
  margin-right: 1.5vw !important;
}

.nav-item {
  margin-right: 35px;
  color: #9d9d9d;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14.5px;
  letter-spacing: 1.2px;
}

.logotipo {
  margin-left: 30px;
  padding: 0px;
}

/*
.item:nth-child(1) {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
*/

.nav-texto {
  margin-top: 4px;
}

.fa-facebook {
  font-size: 27px;
  color: #05afea;
  transition: 0.5s;
}

.fa-facebook:hover {
  color: #2980b9;
}

.navbar-nav {
  margin-left: 10%;
}

.navbar-toggler {
  border: none !important;
}

@media (max-width: 991px) {
  .navbar-collapse {
    align-content: center;
    text-align: center;

  }

  .logotipo {
    position: relative;
    left: 45%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
  }
}
