@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600&display=swap');


.carousel-indicators li {
  width: 1.2vw !important;
  height: 1.2vw !important;
  border-radius: 100% !important;
  margin-right: 1.5vw !important;
}

.nav-texto {
  margin-right: 35px;
  color: #9d9d9d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1.2px;
  margin-top: 4px;
  font-family: 'Raleway', sans-serif;
}

.logotipo {
  margin-left: 30px;
  padding: 0px !important;
}

.fa-facebook {
  font-size: 27px;
  color: #05afea;
  transition: 0.5s;
}

.fa-facebook:hover {
  color: #2980b9;
}

.navbar-nav {
  margin-left: 14%;
}

.navbar-toggler {
  border: none !important;
}

.btn-main {
  width: 200px;
  font-weight: 700 !important;
}

.about-img img:hover {
  transform: scale(-1.5);
}

@media (max-width: 991px) {

  .logotipo {
    position: relative;
    left: 45%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
  }

  .navbar-collapse {
    align-content: center;
    text-align: center;
  }

  .btn-main {
    margin-top: 5px;
  }

  .fa-facebook {
    margin-right: 32px;
  }
}

// footer

.footer-txt {
  color: #f7d794;
  text-transform: uppercase;
  font-family: 'Maven Pro', sans-serif;
  font-size: 17px;
  font-weight: 700;
  margin: 28px 0 20px 0;
  letter-spacing: 1.5px;
}

.spn-body, .spn-body-end {
  color: #bdc3c7;
  font-size: 14px;
  line-height: 26px;
}

.spn-body-end {
  font-size: 13px;
}

.i-footer {
  color: #fdcb6e;
}

.i-footer-social {
  font-size: 20px;
  color: #f7d794;
}

.footer{
  background: #2c3e50;
  color: white;

  .links{
    ul {list-style-type: none;
    }
    li a{
      color: #bdc3c7;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color: #fdcb6e;
        }
    }
  }

  .about-company{
    a {
      color: white;
      transition: color .2s;
      &:hover
      {color: #05afea}
    }
  }

  .copyright p
  {border-top: 1px solid rgba(255,255,255,.1);
  }

  .copyright {
    margin-top: -20px !important;
    text-align: center;
  }
}
