div.dataTables_length label select{
  margin-bottom: 5px;
}

.sorting_asc, .sorting_dsc {
  font-weight: bold;
}

#example_paginate, .dataTables_info {
  margin-top: 15px;
}

span.error {
  color: #dc3545;
  font-size: 15px;
  display: inline-block !important;
  margin-top: 0 !important;
  margin-bottom: 15px !important;
}
