// Place all the styles related to the Pessoas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .date.required.form-control {
// display: inline-block;
// width: 32%;
// margin-right: 5px;
// }

div.dataTables_length label select{
  margin-bottom: 5px;
}

.sorting_asc, .sorting_dsc {
  font-weight: bold;
}

#example_paginate, .dataTables_info {
  margin-top: 15px;
}
