.btn-sobre {
  height: 10vh;
  margin: 20px 20px;
  font-weight: 700 !important;
  text-transform: uppercase;
  transition: 0.4s;
  border-width: 1.5px !important;
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.5vw;
}

.btn-sobre:hover {
  color: #05afea !important;
  border-color: #05afea !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

.title-txt {
  text-transform: uppercase;
  color: #05afea;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  margin: 28px 0 20px 0;
}

.title-txt:after {
    display: block;
    height: 2px;
    background-color: #05afea;
    content: " ";
    width: 160px;
    margin: 0 auto;
    margin-top: 20px;
}

@media (max-width: 991px) {
  .btn-sobre {
    height: 7vh;
    font-size: 17px !important;
  }
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
